<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Flickr Tag Search</title>

  <script id="flickr_template" type="text/x-template">
    <h1>Flickr Tag Search</h1>
    <input type="text" name="query" />

    <% if (isLoading) { %>
      loading...
    <% } %>

    <% if (photos) { %>
      <div>
        <button class="prev-page" name="prev">prev</button>
        <button class="next-page" name="next">next</button>
        Page: <%= page %>
      </div>
    <% } %>

    <% _.each(photos, function(photo) { %>
      <img src="<%= getPhotoUrl(photo) %>" width=150 height=150>
    <% }) %>

    <% if (photos !== null && !photos.length) { %>
      No results
    <% } %>
  </script>
</head>

<body>
  <script src="../../lib/Bacon.js"></script>
  <script src="../../lib/underscore.js"></script>
  <script src="../../lib/spark-standalone.js"></script>
  <script src="../../lib/spark-logging.js"></script>
  <script src="../../lib/spark-utils.js"></script>
  <script src="../../lib/spark-preserve-inputs.js"></script>
  <script src="../../lib/rendactive.js"></script>
  <script src="../lib/jquery.js"></script>
  <script src="flickr.js"></script>
</body>
